:root {
    --bg: #fafafa;
    --fg: #0e1c29;
    --clr-blue: #0082bb;
    --clr-blue-80: rgba(0, 130, 187, 0.8);
    --clr-blue-20: rgba(0, 130, 187, 0.2);
    --clr-black: var(--clr-white20);
    --clr-black-80: rgba(8, 14, 19, 0.8);
    --clr-black-20: rgba(8, 14, 19, 0.2);
    --panel:var(--clr-black-80);
    --side-margin: 15rem;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    color: var(--fg);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--panel);
    color: var(--bg);
    padding: 1em 0;
    display: flex;
    gap: 2rem;
}

header a {
    font-size: 1.8rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

main {
    padding: 2rem;
    display: flex;
    gap: 2rem;

}

main > div {
    display: grid;
    width: 100%;
    gap: 2rem;
}

main > div > section {
    width: 100%;
    position: relative;
}

.smlink {
    position: absolute;
    bottom: 0;
    right: 2rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

footer {
    background-color: var(--panel);
    color: var(--bg);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .social-media {
    margin-top: 1rem;
}

footer .social-media a {
    color: var(--bg);
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5em;
}

.title {
    min-width: 18rem;
}

.title > * {
    margin: 0;
}

a {
    all: unset;
    color: var(--clr-blue);
}

a:hover {
    cursor: pointer;
    color: var(--clr-blue-80);
}

li.active {
    font-weight: bold;
}

.cover {
    margin-top: 2rem;
    max-width: 42rem;
}

.top-right-image {
    max-width: 28rem;
    float: right;
}

.books {
    display: grid;
    gap: 2rem;
}

.book {
    display: flex;
    gap: 2rem;
    border-bottom: 1px var(--fg) solid;
    padding-bottom: 2rem;
}

.book p {
    margin: 0 0 1rem 0;
}

.book img {
    max-width: 10rem;
}

@media (max-width: 1366px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 769px) {
    body {
        background-color: var(--bg);
    }

    main {
        margin: 0 auto;
        padding: 1.5rem var(--side-margin);
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav ul {
        display: flex;
        gap: 2.5rem;
    
    }

    header {
        padding: 1em var(--side-margin);
    }
}

@media (max-width: 768px) {
    header, footer {
        text-align: left;
        padding: 0.95rem;
    }

    .cover {
        max-width: 36.25rem;
    }
    
    nav ul li {
        display: block;
        margin: 1rem 0;
    }

    main {
        padding: 2rem;
        display: grid;
        margin-bottom: 12rem;
    }

    .book img {
        max-height: 12rem;
    }

    header {
        display: grid;
    }

    header a {
        font-size: 1rem;
    }
}
